.container {
  padding: 2rem;
  text-align: center;
}

h1 {

  margin-bottom: 1rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
  font-family: "Poppins", sans-serif;
}

.title {
  position: relative;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin: 0 auto 40px auto;
  padding-top: 10px;

  display: block;
  width: 100%; 
  border-top: 4px solid #7ac142;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
}

.imageContainer {
  flex: 1;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.imageContainer img {
  width: 100%;
  height: auto;
  display: block;
}


.text {
  flex: 1.2;
  color: #555;
  font-size: 1rem;
  line-height: 1.7;
  text-align: justify;
}

.text p {
  margin-bottom: 14px;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .imageContainer,
  .text {
    width: 100%;
  }

  .title {
    width: 90%; 
  }
}
