.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
  font-family: "Poppins", sans-serif;
}

.title {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 40px;
  position: relative;

  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}



.cardsContainer {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 450px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: #007a3d;
  margin-bottom: 15px;
  text-align: center;
}

.cardBody p {
  color: #555;
  line-height: 1.7;
  text-align: justify;
  margin-bottom: 15px;
}

.cardBody ul {
  list-style: disc;
  padding-left: 25px;
}

.cardBody li {
  margin-bottom: 8px;
  color: #333;
}

@media (max-width: 768px) {
  .cardsContainer {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
  }

  .title {
    font-size: 1.8rem;
  }
}
